@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

html, body, #root, .App {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #000c1d;
  color: #ffffff;
}

.gap {
  flex: 1
}

/* ---------- auth ---------- */

.card {
  display: block;
  background-color: rgba(255, 255, 255);
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
}

.auth.card {
  margin: calc(50vh - 100px) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 2rem;
  gap: 2rem;
}

.auth.card div {
  display: flex;
}

.auth.card input {
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
  border: 1px solid #09326f;
  color: #09326f;
}

.auth.card button {
  display: flex;
  padding: 0.5rem;
  color: white;
  border-radius: 0 0.5rem 0.5rem 0;
  background: #09326f;
  outline: none;
  border: 1px solid #09326f;
  cursor: pointer;
}

/* ---------- layout ---------- */

.main {
  width: 100%;
  height: 100%;
  display: flex;
}

/* ---------- sidebar ---------- */

.sidebar {
  border: none;
  overflow: hidden;
  background: #0f2f5d;
}

.sidebar > * {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.sidebar:not(.open) {
  width: 3rem;
}

.sidebar:not(.open) > *:not(.sidebar-button) {
  display: none;
}

.sidebar.open {
  width: 12rem;
}

.sidebar .item {
  width: calc(100% - 1rem);
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #05142a;
}

.sidebar .item.active {
  background: #05142a;
}

.sidebar .item.create {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #05142a;
  border: none;
  font-size: 1.5rem;
}

/* ---------- conversation ---------- */

.conversation {
  flex: 1;
  min-height: 100%;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

@media screen and (width >= 800px) {
  .conversation {
    padding: 2rem calc(50vw - 30rem) 0 calc(50vw - 30rem);
  }
}

.conversation::-webkit-scrollbar {
  width: 8px;
}

.conversation::-webkit-scrollbar-track {
  background: transparent;
  margin-left: 1rem;
}

.conversation::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.conversation .message {
  margin-bottom: 2rem;
  max-width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  text-align: justify;
}

.conversation .message.assistant {
  align-self: flex-start;
}

.conversation .message.user {
  align-self: flex-end;
  background: #FFFFFF22;
}

/* ---------- input ---------- */

.input-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input-row:only-child {
  width: 80%;
  height: 100%;
}

.input-row:not(:only-child) {
  position: sticky;
  bottom: 0;
  padding-bottom: 2rem;
  background: #000c1d;
}

.input-row input {
  height: 2rem;
  font-size: 1rem;
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #05142a;
  outline: none;
}

.input-row button {
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid #05142a;
  padding: 0.5rem;
  width: 3rem;
  height: calc(3rem + 2px);
  background: #0f2f5d;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
